*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
}

.logo {
    padding: 10px;
}

.logotipo {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.backgroundgray{
    background-color: #f6f8fa;
}

.marginmain{
    margin: 0px 10%;
    background-color: white;
    padding:20px 5px;
    border-radius: 20px;
}

.headersection{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.paddingsection{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.paddingtop p {
    padding-top: 5px;
    padding-bottom: 10px;
}
.paddingtop{
    padding-top:20px;
    padding-bottom: 20px;
}

.button{
    padding: 6px 12px;
    border: solid 2px;
    border-radius: 5px;
    font-size: 14px;
    margin: 2px;
}

.bluebutton{
    background-color:#45abf0;
    color: white;
    border-color:#3ba3e9;
    cursor: pointer;
}

.whitebutton{
    background-color: white;
    color: #c6c6c6;
    border-color: #d6d6d6;
    cursor: pointer;
}
.cerchioverde{
    font-size: 14px;
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 5px 5px 5px 0px;

}
.cerchiorosso{
    font-size: 14px;
    color: red;
    border: solid 1px red;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 5px 5px 5px 0px;
}

.icon{
    border-radius: 15px;
    display: inline-block;
    padding: 8px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px;
}

.blueicon{
    background-color: #3ba3e9;
    color: white;
}

.violeticon{
    background-color: #9b75e2;
    color: white;
}

.greenicon{
    background-color: #55ad9d;
    color: white;
}

.orangeicon{
    background-color: #e4a134;
    color: white;
}

.magentaicon{
    background-color: #e255ae;
    color: white;
}

.limeicon{
    background-color: #b7d016;
    color: white;
}

.fonthel{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
}

.line{
    margin-bottom: 10px;
    border:solid 1px #d6d6d6;
    padding: 0px 3px 0px 3px;
    display: block;
    margin: 0px 30px 0px 5px;
} 